<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
</head>
<body>
	<!-- Shows messages from home page if it is, otherwise displays the second message (login here -->
	<div>
		<div th:if="${param.error}">Invalid username and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<div th:if="${mail_verifyEmail}" th:text="${mail_verifyEmail}"></div>
		<div th:text="${home_userCreatedMessage}? #{${home_userCreatedMessage}} : 'Login here'">Login here</div>

		<div th:if="${messageToUser}" th:text="${messageToUser}"></div>

	</div>

	<form th:action="@{/perform_login}" method="post">
		<table>
			<tr>
				<td><label th:for="username" th:text="#{username}"> User Name / Email : </label></td>
				<td><input type="text" id="username" name="username" /></td>

			</tr>
			<tr>
				<td><label th:for="password" th:text="#{password}"> Password: </label></td>
				<td><input type="password" id="password" name="password" /></td>

			</tr>
			<tr>
				<td><label th:for="Remember-me"> Remember me: </label></td>
				<td><input type="checkbox" id="remember-me" name="remember-me" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Login" /></td>
			</tr>
		</table>
	</form>
	
	<p>
		Forgot Password ???  Click <a th:href="@{/baduser}">here</a> to reset.
	</p>
</body>
</html>